@import '../../styles/variables/index';

.btn {
  display: flex;
  align-items: center;
  border-radius: $border-radius-regular;
  cursor: pointer;

  &:focus {
    outline: 2px solid $color-purple-500;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  &.primary {
    background-color: $color-primary-800;
    color: $color-white;
    border: none;

    &:hover:enabled {
      background-color: $color-primary-600;
    }

    &:active:enabled {
      background-color: $color-primary-400;
    }

    svg {
      path {
        fill: $color-secondary-300;
      }
    }
  }

  &.secondary {
    background-color: $color-white;
    color: $color-primary-600;
    border: $color-secondary-300 1px solid;

    &:hover:enabled {
      background-color: $color-secondary-100;
    }

    &:active:enabled {
      background-color: $color-secondary-200;
    }

    svg {
      path {
        fill: $color-secondary-300;
      }
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $color-primary-600;
    border: none;

    &:hover:enabled {
      background-color: $color-secondary-100;
    }

    &:active:enabled {
      background-color: $color-secondary-200;
    }

    svg {
      path {
        fill: $color-primary-600;
      }
    }
  }

  &.large {
    padding: $space-XXXXS;
    @each $property, $value in $label-L {
      #{$property}: $value;
    }
    span {
      margin: 0rem $space-XXXXS;
    }
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &.medium {
    padding: $space-XXXXS;
    @each $property, $value in $label-M {
      #{$property}: $value;
    }
    span {
      margin: 0rem $space-XXXXS;
    }
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &.small {
    padding: $space-XXXXXS $space-XXXXS;
    @each $property, $value in $label-S {
      #{$property}: $value;
    }
    svg {
      height: 18px;
      width: 18px;
    }
  }

  &.xsmall {
    padding: 0.7rem $space-XXXXS;
    @each $property, $value in $label-XS {
      #{$property}: $value;
    }
    svg {
      height: 14px;
      width: 14px;
    }
  }

  &.add {
    &.small span {
      margin-left: $space-XXXXS;
    }
    &.xsmall span {
      margin-left: $space-XXXXXS;
    }
  }

  &.arrow {
    &.small span {
      margin-right: $space-XXXXS;
    }
    &.xsmall span {
      margin-right: $space-XXXXXS;
    }
  }
}
