/* Imports for global variables and styles */
@import './_tools.scss';

/* stylelint-disable scale-unlimited/declaration-strict-value */
html {
  font-size: 10px;
}
/* stylelint-enable scale-unlimited/declaration-strict-value */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
}

.centered-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}