/* Imports for global variables and styles */
@import './_tools.scss';
/* stylelint-disable scale-unlimited/declaration-strict-value */
html {
  font-size: 10px;
}
/* stylelint-enable scale-unlimited/declaration-strict-value */

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
}