@import '/src/styles/_tools';

$space-6: 0.6rem;
$border-radius-navItem-expanded: 1.2rem;

.navItem__component {
  width: 18.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: $border-radius-navItem-expanded;
  background-color: $color-primary-800;
  color: $color-white;
  padding: $space-6 $space-XXXS;
  gap: $space-XXXS;

  &:hover {
    background-color: $color-primary-600;
  }

  &:active {
    background-color: $color-primary-400;
  }

  &:focus,
  &--selected {
    background-color: $color-primary-800;
    border-color: $color-secondary-400;
    border-width: 0.2rem;
    border-style: solid;
  }
}

.navItem__component__title {
  display: flex;
  gap: $space-XXXS;
  align-items: center;

  @each $property, $value in $label-S {
    #{$property}: $value;
  }

  svg {
    width: 2rem;
    height: 2rem;
    path {
      fill: $color-white;
    }
  }
}

span {
  min-height: 2.8rem;
  align-content: center;
}
