@import '/src/styles/_tools';

$space-5: 0.5rem;
$space-10: 1rem;
$space-14: 1.4rem;
$border-radius-sidebar: 0rem 0.8rem 0.8rem 0rem;
$border-radius-navItem-collapsed: 0.5rem;
$transition-sidebar: 0.2s;

.sidebar {
  height: 97rem;
  display: flex;
  position: fixed;
  left: 0;
  top: $space-S;
  background-color: $color-primary-800;
  border-radius: $border-radius-sidebar;
  box-sizing: border-box;
  padding: $space-10;
  gap: $space-10;

  .nav {
    transition: $transition-sidebar;
    width: 19.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: $space-S;
  }

  .nav__logo {
    cursor: pointer;
    padding: $space-14;
    gap: $space-10;
  }

  .logo {
    width: 7.7rem;
    height: 3.8rem;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-XXS;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // button"toggle" pakeisti į  .accent-button-S
  &__toggle {
    position: absolute;
    top: 50%;
    right: -1.3rem;
    transform: translateY(-50%);
  }

  &--expanded {
    :global(#navItem__component) {
      transition: $transition-sidebar;
    }
  }

  &--collapsed {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: $space-XXXXS;
    padding: $space-5;
    padding-top: $space-10;

    .nav {
      transition: $transition-sidebar;
      width: 6.3rem;
    }

    .logo {
      width: 2.52rem;
      height: 4.78rem;
    }

    .nav__list {
      flex-direction: column;
    }

    :global(#navItem__component) {
      width: 6rem;
      display: flex;
      justify-content: center;
      padding: 0;
      border-radius: $border-radius-navItem-collapsed;
    }

    :global(#navItem__component__title) {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0;
      margin: 0;

      & > span {
        width: 6rem;
        min-height: 1.7rem;

        @each $property, $value in $label-XXS {
          #{$property}: $value;
        }
      }
    }
  }
}
