@import '../../styles/tools';

.headerTitle {
    @each $property, $value in $headline-L {
        #{$property}: $value;
    }

    color: $color-primary-600;
    text-align: left;
    padding: 0;
    margin: 0 0 $space-XXXXXS 0;
}

.headerSubtitle {
    @each $property, $value in $title-L {
        #{$property}: $value;
    }

    color: $color-primary-600;
    text-align: left;
    padding: 0;
    margin: $space-XXXXXS 0 0 0;
}

.headerBody {
    display: inline-block;
}