$box-shadowXSmall: (
  box-shadow: 0rem 0.0078125rem 0.0234375rem rgba(141, 141, 141, 0.11), 
              0rem 0.00390625rem 0.0078125rem rgba(141, 141, 141, 0.12)
);

$box-shadowSmall: (
  box-shadow: 0.004296875rem 0.010546875rem 0.01484375rem -0.0046875rem rgba(141, 141, 141, 0.26), 
              0.03125rem 0.08125rem 0.1125rem -0.0375rem rgba(141, 141, 141, 0.18), 
              0.01875rem 0.05rem 0.06875rem rgba(141, 141, 141, 0.11)
);

$box-shadowMedium: (
  box-shadow: 0.33125rem 0.83125rem 1.175rem -0.075rem rgba(200, 200, 200, 0.25), 
              0.15rem 0.38125rem 0.5375rem -0.05rem rgba(141, 141, 141, 0.2), 
              0.06875rem 0.175rem 0.24375rem -0.025rem rgba(141, 141, 141, 0.16), 
              0.01875rem 0.05rem 0.06875rem rgba(141, 141, 141, 0.11)
);

  


