@import '_border-radius.scss';

$accent-button-M: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: none,
        border-radius: 0.8rem,
        width: 3.2rem,
        height: 3.2rem,
        background-color: $color-secondary-400,
        color: $color-white,
    ),
    hover: (
        background-color: $color-secondary-600,
    ),
    active: (
        background-color: $color-secondary-300,
    ),
    focus: (
        background-color: $color-secondary-400,
        border: 0.2rem solid $color-purple-500,
    ),
);

$accent-button-S: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: none,
        border-radius: 0.8rem,
        width: 2.6rem,
        height: 2.6rem,
        background-color: $color-secondary-400,
        color: $color-white,
    ),
    hover: (
        background-color: $color-secondary-600,
    ),
    active: (
        background-color: $color-secondary-300,
    ),
    focus: (
        background-color: $color-secondary-400,
        border: 0.2rem solid $color-purple-500,
    ),
    disabled: (
        opacity: 0.4,
    )
);

$outlined-button-M: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: 0.1rem solid $color-secondary-300,
        border-radius: 0.8rem,
        width: 3.2rem,
        height: 3.2rem,
        background-color: $color-white,
    ),
    hover: (
        background-color: $color-secondary-100,
    ),
    active: (
        background-color: $color-secondary-200,
    ),
    focus: (
        background-color: $color-white,
        border: 0.2rem solid $color-purple-500,
    ),
    disabled: (
        opacity: 0.4,
    )
);

$outlined-button-S: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: 0.1rem solid $color-secondary-300,
        border-radius: 0.8rem,
        width: 2.6rem,
        height: 2.6rem,
        background-color: $color-white,
    ),
    hover: (
        background-color: $color-secondary-100,
    ),
    active: (
        background-color: $color-secondary-200,
    ),
    focus: (
        background-color: $color-white,
        border: 0.2rem solid $color-purple-500,
    ),
    disabled: (
        opacity: 0.4,
    )
);

$tertiary-button-M: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: none,
        border-radius: 0.8rem,
        width: 3.2rem,
        height: 3.2rem,
        background-color: $color-white,
    ),
    hover: (
        background-color: rgba(255, 127, 15, 0.1),
    ),
    active: (
        background-color: rgba(255, 127, 15, 0.2),
    ),
    focus: (
        background-color: $color-white,
        border: 0.2rem solid $color-purple-500,
    ),
    disabled: (
        opacity: 0.4,
    )
);

$tertiary-button-S: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: none,
        border-radius: 0.8rem,
        width: 2.6rem,
        height: 2.6rem,
        background-color: $color-white,
    ),
    hover: (
        background-color: rgba(255, 127, 15, 0.1),
    ),
    active: (
        background-color: rgba(255, 127, 15, 0.2),
    ),
    focus: (
        background-color: $color-white,
        border: 0.2rem solid $color-purple-500,
    ),
    disabled: (
        opacity: 0.4,
    )
);

$accent-button-M-disabled: (
    base: (
        display: flex,
        flex-direction: column,
        justify-content: center,
        align-items: center,
        padding: $space-XXXXXS,
        border: none,
        border-radius: 0.8rem,
        width: 3.2rem,
        height: 3.2rem,
        background-color: $color-secondary-400,
        color: $color-white,
        opacity: 0.4
    )
)