$space-XXXXXS: 0.25rem;
$space-XXXXS: 0.5rem;
$space-XXXS: 0.75rem;
$space-XXS: 1rem;
$space-XS: 1.25rem;
$space-S: 1.5rem;
$space-M: 2rem;
$space-L: 2.5rem;
$space-XL: 3rem;
$space-XXL: 3.5rem;
$space-XXXL: 4rem;
$space-XXXXL: 4.5rem;