$space-unit: 1rem;
$space-xxxxxs: calc(0.25 * $space-unit);
$space-xxxxs: calc(0.5 * $space-unit);
$space-xxxs: calc(0.75 * $space-unit);
$space-xxs: calc(1 * $space-unit);
$space-xs: calc(1.25 * $space-unit);
$space-s: calc(0.5 * $space-unit);
$space-m: calc(2 * $space-unit);
$space-l: calc(2.5 * $space-unit);
$space-xl: calc(3 * $space-unit);
$space-xxl: calc(3.5 * $space-unit);
$space-xxxl: calc(4 * $space-unit);
$space-xxxxl: calc(4.5 * $space-unit);