@import '/src/styles/_tools';
.dummyPage {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius-regular;
  margin-left: 250px;
  gap: 180px;
}

.comp {
  display: flex;
  flex-direction: column;
  button {
    margin: 10px;
  }
}
