@import '/src/styles/_tools';
.dummyPage {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius-regular;
  margin-top: 200px;
  gap: 40px;
}

.comp {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  button {
    margin: 10px;
  }
}
