@import './styles/_tools.scss';

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $color-grey-100;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
  transition: $transition;

  @include for-tablet-landscape-up {
    display: flex;
    padding-left: 21.4rem;
    transition: $transition;

    &--collapsed {
      display: flex;
      flex-direction: column;
      padding-left: 7.2rem;
      transition: $transition;
    }
  }
}
// temporary style for UserProfile
.userProfile {
  position: fixed;
  top: 2.4rem;
  right: 0;
}

// temporary style for logout
.logOut {
  position: absolute;
  align-items: right;
  right: 0;
}
