@import './styles/_tools.scss';

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.accentButtonM {
  $base-styles: map-get($accent-button-M, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }

  &:hover {
    $hover-styles: map-get($accent-button-M, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }

  &:active {
    $active-styles: map-get($accent-button-M, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }

  &:focus {
    $focus-styles: map-get($accent-button-M, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}
  
.accentButtonS {
  $base-styles: map-get($accent-button-S, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }
  
  &:hover {
    $hover-styles: map-get($accent-button-S, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }
  
  &:active {
    $active-styles: map-get($accent-button-S, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }
  
  &:focus {
    $focus-styles: map-get($accent-button-S, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}
  
.outlinedButtonM {
  $base-styles: map-get($outlined-button-M, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }

  &:hover {
    $hover-styles: map-get($outlined-button-M, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }

  &:active {
    $active-styles: map-get($outlined-button-M, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }

  &:focus {
    $focus-styles: map-get($outlined-button-M, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}
  
.outlinedButtonS {
  $base-styles: map-get($outlined-button-S, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }

  &:hover {
    $hover-styles: map-get($outlined-button-S, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }

  &:active {
    $active-styles: map-get($outlined-button-S, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }

  &:focus {
    $focus-styles: map-get($outlined-button-S, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}
  
.tertiaryButtonM {
  $base-styles: map-get($tertiary-button-M, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }

  &:hover {
    $hover-styles: map-get($tertiary-button-M, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }

  &:active {
    $active-styles: map-get($tertiary-button-M, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }

  &:focus {
    $focus-styles: map-get($tertiary-button-M, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}
  
.tertiaryButtonS {
  $base-styles: map-get($tertiary-button-S, base);
  @each $property, $value in $base-styles {
    #{$property}: $value;
  }

  &:hover {
    $hover-styles: map-get($tertiary-button-S, hover);
    @each $property, $value in $hover-styles {
      #{$property}: $value;
    }
  }

  &:active {
    $active-styles: map-get($tertiary-button-S, active);
    @each $property, $value in $active-styles {
      #{$property}: $value;
    }
  }

  &:focus {
    $focus-styles: map-get($tertiary-button-S, focus);
    @each $property, $value in $focus-styles {
      #{$property}: $value;
    }
  }
}