@import '../../styles/tools';

.userProfile {
    width: 28.3rem;
    height: 11.2rem;
    padding: 1.6rem;
    gap: $space-XXS;
    margin-top: 2.4rem;
    background-color: $color-white;
    border: $color-grey-100 0.05rem;
    box-shadow: $box-shadow-m;
    border-bottom-left-radius: $border-radius-regular;
    border-top-left-radius: $border-radius-regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileSection {
    position: relative;
    display: flex;
    gap: $space-XXXS;
    @each $property, $value in $title-S {
        #{$property}: $value;
    }

    button{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    img{
        height: 3.2rem;
        width: 3.2rem;
    }
}


.balanceSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -4rem;
    margin-bottom: -2rem;
    @each $property, $value in $title-M {
        #{$property}: $value;
    }
}
.line {
    width: 3.2rem;
    height: 0.1rem; 
    transform: rotate(-90deg);
    background-color: $color-grey-100; 
}


.cartOrders{
    position: relative;

    .circle {
        position: absolute;
        top: 0.9rem;
        left: 2rem;
        background-color: $color-red-500;
        @each $property, $value in $label-XS {
            #{$property}: $value;
        }
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border: 0.15rem solid $color-white;
        border-radius: 50%;
        text-align: center;
        color: $color-white;
        line-height: 20px;
    }
}