@import './_tools.scss';

.accent-button-M {
  padding: $space-XXXXXS;
  border: none;
  border-radius: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: $color-secondary-400;
  color: $color-white;

  &:hover:not(:disabled) {
      background-color: $color-secondary-600;
  }

  &:active:not(:disabled) {
      background-color: $color-secondary-300;
  }

  &:focus:not(:disabled) {
      background-color: $color-secondary-400;
      border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.accent-button-S {
  padding: $space-XXXXXS;
  border: none;
  border-radius: 0.8rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: $color-secondary-400;
  color: $color-white;

  &:hover:not(:disabled) {
    background-color: $color-secondary-600;
  }

  &:active:not(:disabled) {
    background-color: $color-secondary-300;
  }

  &:focus:not(:disabled) {
    background-color: $color-secondary-400;
    border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.outlined-button-M {
  padding: $space-XXXXXS;
  border: 0.1rem solid $color-secondary-300;
  border-radius: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: $color-white;

  &:hover:not(:disabled) {
    background-color: $color-secondary-100;
  }

  &:active:not(:disabled) {
    background-color: $color-secondary-200;
  }

  &:focus:not(:disabled) {
    background-color: $color-white;
    border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.outlined-button-S {
  padding: $space-XXXXXS;
  border: 0.1rem solid $color-secondary-300;
  border-radius: 0.8rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: $color-white;

  &:hover:not(:disabled) {
    background-color: $color-secondary-100;
  }

  &:active:not(:disabled) {
    background-color: $color-secondary-200;
  }

  &:focus:not(:disabled) {
    background-color: $color-white;
    border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}


.tertiary-button-M {
  padding: $space-XXXXXS;
  border: none;
  border-radius: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: $color-white;

  &:hover:not(:disabled) {
    background-color: rgba(255, 127, 15, 0.1);
  }

  &:active:not(:disabled) {
    background-color: rgba(255, 127, 15, 0.2);
  }

  &:focus:not(:disabled) {
    background-color: $color-white;
    border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}


.tertiary-button-S {
  padding: $space-XXXXXS;
  border: none;
  border-radius: 0.8rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: $color-white;

  &:hover:not(:disabled) {
    background-color: rgba(255, 127, 15, 0.1);
  }

  &:active:not(:disabled) {
    background-color: rgba(255, 127, 15, 0.2);
  }

  &:focus:not(:disabled) {
    background-color: c;
    border: 0.2rem solid $color-purple-500;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.profile-button {
  padding: 0;
  gap: 1rem;
  width: 2rem;
  height: 2rem;

  border: 0.15rem solid $color-white;
  border-radius: 6.4rem;
}  