@import '/src/styles/_tools';

// temporary style for pageLayout
.foodMenuPageLayout {
  margin-top: 2.4rem;
}

.cardsContainer {
  margin: $space-M auto 0rem auto;
}

.mealContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $space-M;
  justify-content: center;
}
