@import '/src/styles/_tools';

.mealContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $space-M;
  justify-content: center;
}

.container {
  margin: $space-M auto 0rem auto;
}

//this is temporary style, it should be removed and replaced with layout style
.containar {
  display: flex;
  margin-top: 15rem;
  margin-left: 25rem;
}
