@import '/src/styles/_tools';

.errorPageLayout {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: $space-S 0;
}
.navContainer {
  width: 21.4rem;
  position: fixed;
}
.errorMessageContainer {
  flex: content;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: $space-XXXXL;
  h1,
  h2 {
    margin: $space-XXXXXS;
  }
}
